*{
    margin: 0;
    padding: 0;
}

#content{
    position: relative;
}

#home-page{
    width: 100vw;
    height: 100vh;
    background-size: 100vw 100vh;
    background-image: url("./img/Photo\ by\ Rachel\ Claire\ from\ Pexels.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    position: relative;
    width: auto;
    height: 100px;
    margin: auto;
    background-color:black;
}

.navigation-btn{
    border: transparent;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    color: white;
    transition: 1s ease-in-out;
    outline: none;
}

.navigation-btn:hover{
    text-decoration: underline;
}

#title-container{
    position: relative;
    top: 200px;
    width: auto;
    margin: auto;
    text-align: center;
    color: white
}

#restaurant-name{
    font-size: 80px;
}

#restaurant-underline{
    border: solid 3px;
    width: 100px;
    margin: auto;
}

#header{
    letter-spacing: 10px;
}

#book-table-btn{
    position: relative;
    top: 250px; 
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 60px;
    background-color: #BB7E37;
    border-radius: 5px;
    border:transparent;
    outline: none;
    color: white;
    font-weight: 900;
    font-size: 15px;
    transition: 0.1s;
    transition-timing-function: ease;

}

#book-table-btn:hover{
    border: 2px solid white

}

#social-media{
    position: relative;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 50px;
    left: 5%;
    transform: translateX(-50%);
    top:20px;
}

#facebook{
    background: url('./svg/facebook.svg');
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position:center;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 100%;
}

#twitter{
    background: url('./svg/twitter.svg');
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position:center;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 100%;
}

#instagram{
    background: url('./svg/instagram.svg');
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position:center;
    background-repeat: no-repeat;
    border: 1px solid white;
    border-radius: 100%;
}

#about-us-container{
    display: flex;
    column-gap: 200px;
    position: relative;
    align-items: center;
    top: 150px;
}

#about-page{
    width: 100vw;
    height: 100vh;
}

#about-us{
    color: black;
    font-size: 36px;
    text-align: center;
    width: 600px;
    height: 300px;
    margin-left: 200px;
}

#about-us-hr{
    border: solid 3px;
    width: 100px;
    margin: auto;
    color: #BB7E37;
}

#bold-description{
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

#regular-description{
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: normal;
    text-align: justify;
}

#about-us-photo{
    background-image: url('./img/Photo\ by\ Michael\ Browning\ on\ Unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    width: 750px;
    height:500px;
    box-shadow: 2px 3px 19px 5px rgba(0,0,0,0.41)    ;
    position: relative;
}

#bookings-page{
    width: 100vw;
    height: 100vh;
}

#bookings-form{
    margin-top: 25px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    width: 600px;
    height: 300px;
}

input{
    width: 280px;
    height: 60px;
    background-color: #E5E5E5;
    border: transparent;
    border-radius: 5px;
    outline: transparent;
    padding-left: 10px;
}

#submit-booking-btn{
    grid-column: auto/ span 2;
    width: 150px;
    margin: auto;
    width: 200px;
    height: 60px;
    background-color: #BB7E37;
    border-radius: 5px;
    border:transparent;
    outline: none;
    color: white;
    font-weight: 900;
    font-size: 15px;
}

#form-container{

    width: 600px;
    height: 400px;
}

#book-a-table{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

#book-a-table-hr{
    border: solid 3px;
    width: 100px;
    margin: auto;
    color: #BB7E37;
}

#menu-page{
    width: 100vw;
    height: 100vh;
}

#menu-container{
    border: 5px solid black;
    margin: auto;
    align-items: center;
    display: grid;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;

}

@media(max-width:640px){
    #title-container{
        position: relative;
        top: 100px;
        width: auto;
        margin: auto;
        text-align: center;
        color: white
    }
}

@media(max-width:640px){
    #social-media{
        position: relative;
        display: none;
    }
    
}

@media(max-width:640px){
    #book-table-btn{
        position: relative;
        top: 130px; 
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 50px;
        background-color: #BB7E37;
        border-radius: 5px;
        border:transparent;
        outline: none;
        color: white;
        font-weight: 900;
        font-size: 15px;
        transition: 0.1s;
        transition-timing-function: ease;
    
    }    
}

